body{
  background-color: black;
  color: grey;
}
.container{
  margin-top: 200px;
  text-align: center;  
}
img {
  width: 280px;  
  height: auto;
  filter: brightness(1.5);
  padding: 50px;
  border-radius: 50%;
}
.btn {
  background-color: black;
  color: grey;
  padding: 30px;
  border-radius: 20%;
}
h4{
  text-align: center;
  padding-top: 40px;
}
